<div class="hero-images">
  <img ng-src="{{img}}" class="hero" height="200"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.hero.images" />
</div>

<h1>{{$ctrl.hero.name}}</h1>

<p>{{$ctrl.hero.description}}</p>

<ul class="hero-thumbs">
  <li ng-repeat="img in $ctrl.hero.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" height="100"/>
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Affiliations</span>
    <dl>
      <dt>Friendly Affiliations</dt>
      <dd ng-repeat="affiliation in $ctrl.hero.affiliations">{{affiliation}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{$ctrl.hero.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{$ctrl.hero.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{$ctrl.hero.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{$ctrl.hero.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{$ctrl.hero.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{$ctrl.hero.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{$ctrl.hero.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{$ctrl.hero.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{$ctrl.hero.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{$ctrl.hero.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Born</span>
    <dl>
      <dt>Place</dt>
      <dd>{{$ctrl.hero.born.place}}</dd>
      <dt>Date</dt>
      <dd>{{$ctrl.hero.born.date | date:"MM/dd/yyyy"}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in $ctrl.hero.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{$ctrl.hero.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{$ctrl.hero.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{$ctrl.hero.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{$ctrl.hero.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{$ctrl.hero.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{$ctrl.hero.hardware.usb}}</dd>
      <dt>Audio / headhero jack</dt>
      <dd>{{$ctrl.hero.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{$ctrl.hero.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{$ctrl.hero.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{$ctrl.hero.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{$ctrl.hero.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Ablities</span>
    <dd>{{$ctrl.hero.abilities}}</dd>
  </li>
</ul>
