<div class="hero-images">
  <img ng-src="{{img}}" class="hero" height="200"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.hero.images" />
</div>

<h1>{{$ctrl.hero.name}}</h1>

<p>{{$ctrl.hero.description}}</p>

<ul class="hero-thumbs">
  <li ng-repeat="img in $ctrl.hero.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" height="100"/>
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Abilities</span>
    <dl>
      <dt>Ability</dt>
      <dd ng-repeat="ability in $ctrl.hero.abilities">{{ability}}</dd>
    </dl>
  </li>
  <li>
    <span>Attributes</span>
    <dl>
      <dt>Strength</dt>
      <dd>{{$ctrl.hero.attribute.strength}}</dd>
      <dt>Constitution</dt>
      <dd>{{$ctrl.hero.attribute.constitution}}</dd>
      <dt>Defense</dt>
      <dd>{{$ctrl.hero.attribute.defense}}</dd>
      <dt>Dexterity</dt>
      <dd>{{$ctrl.hero.attribute.dexterity}}</dd>
      <dt>Intelligence</dt>
      <dd>{{$ctrl.hero.attribute.intelligence}}</dd>
      <dt>Charisma</dt>
      <dd>{{$ctrl.hero.attribute.charisma}}</dd>
      <dt>Wisdom</dt>
      <dd>{{$ctrl.hero.attribute.wisdom}}</dd>
      <dt>Willpower</dt>
      <dd>{{$ctrl.hero.attribute.willpower}}</dd>
      <dt>Perception</dt>
      <dd>{{$ctrl.hero.attribute.perception}}</dd>
      <dt>Luck</dt>
      <dd>{{$ctrl.hero.attribute.luck}}</dd>
    </dl>
  </li>
  <li>
    <span>Associations</span>
    <dl>
      <dt>Friends</dt>
      <dd ng-repeat="association in $ctrl.hero.association.allies">{{association}}</dd>
    </dl>
    <dl>
      <dt>Enemies</dt>
      <dd ng-repeat="association in $ctrl.hero.association.enemies">{{association}}</dd>
    </dl>
  </li>
  <li>
    <span>Born</span>
    <dl>
      <dt>Place</dt>
      <dd>{{$ctrl.hero.born.place}}</dd>
      <dt>Date</dt>
      <dd>{{$ctrl.hero.born.date | date:"MM/dd/yyyy"}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in $ctrl.hero.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{$ctrl.hero.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Hair Color</span>
    <dd>{{$ctrl.hero.hairColor}}</dd>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{$ctrl.hero.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{$ctrl.hero.hardware.usb}}</dd>
      <dt>Audio / headhero jack</dt>
      <dd>{{$ctrl.hero.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{$ctrl.hero.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{$ctrl.hero.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
</ul>
